
<!-- 新建角色 -->
<div class="settingBodys" id="settingBody" style="height: auto;">
    <div class="settingBox">
        <form action="" id="formId">
            <p class="popTitle"></p>
            <i class="glyphicon glyphicon-remove js_cancel" data-dismiss="modal"></i>
            <div class="settingStyle" style="height: auto;">
                <label for=""><span></span><span style="color:red;">*</span>父模块名:</label>
                <input required maxlength="100" class="parentName" type="text" placeholder="父模块名"/>
            </div>
            <div class="settingStyle" style="height: auto;">
                <label for=""><span></span><span style="color:red;">*</span>子模块名:</label>
                <input required maxlength="100" class="lastName" type="text" placeholder="子模块名"/>
            </div>
            <div class="settingStyle" style="height: auto;padding-left: 21px;">
                <label for=""><span></span><span style="color:red;">*</span>url地址:</label>
                <input required maxlength="200" class="urlName" type="text" placeholder="url地址"/>
            </div>
            <div class="btnBox">
                <a href="javascript:;" data-dismiss="modal" class="js_cancel">取消</a>
                <a class="addRoleBtn" href="javascript:;">确定</a>
            </div>
        </form>
    </div>
</div>
