<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<script src="../../static/public/commonJs.js"></script>
<link rel="stylesheet" href="../../static/css/systemlog.css">
<script src="../../static/js/noticeList/noticeAuditor.js"></script>
<body class="bodyStyleSys">
<div class="searchBox">
    <div class="searchTitle">
        <span class="searchStyle"></span>
        <span class="searchText">公告管理>>公告审核员</span>
    </div>
    <div class="contentBox">
        <div class="icon">
            <div class="iconType">
                <div>
                    <label>名称：</label>
                    <input type="text" maxlength="100" class="js_accountNumber">
                </div>
                <!--<div class="companyBox">
                    <label>用户名：</label>
                    <input type="text" maxlength="20" class="js_nameOfUnit">
                </div>-->
                <div class="searchBtnBox">
                    <!--<a href="javascript:;" class="customerAdd">新建</a>-->
                    <!-- <a href="javascript:;">导出</a>-->
                    <a href="javascript:;" class="js_resetQuery">重置</a>
                    <!--<a href="javascript:;" class="js_mhQuery">模糊查询</a>-->
                    <a href="javascript:;" class="js_jqQuery">查询</a>
                </div>
            </div>
        </div>
        <div class="content">
            <table id="detailGrid">

            </table>
        </div>
    </div>
</div>
</body>
</html>