<!-- 新建用户 -->
<div class="popBoxCust" id="popBoxCust">
    <div class="settingBox">
        <form action="" id="formCust">
            <p class="popTitle"></p>
            <i class="glyphicon glyphicon-remove js_cancel" data-dismiss="modal"></i>

           <!-- <div class="settingStyle">
                <label style="width: 20%;" for=""><span></span>名称:</label>
                <input required maxlength="300" class="lastName" type="text" placeholder="名称"/>
            </div>-->
            <!--<div class="settingStyle">
                <label style="width: 20%;" for=""><span></span>上传地址:</label>
                <input required maxlength="300" class="urlName" type="text" placeholder="地址"/>
            </div>-->
            <div class="settingStyle">
                <label for="">安装类型:</label>
                <select class="roleType" style="padding: 3px;">
                    <option value="1">window</option>
                    <option value="2">mac</option>
                </select>
            </div>
            <div class="settingStyle">
                <label for="">更新类型:</label>
                <select class="roleFile" style="padding: 3px;">
                    <option value="1">强制</option>
                    <option value="2">非强制</option>
                </select>
            </div>
            <div class="settingStyle">
                <label for="" style="float: left;"><span></span>上传文件:</label>
                <div id="uploader" class="wu-example uploaders" style="float: left;width:78%;">
                    <!--用来存放文件信息-->
                    <div id="fileList" class="uploader-list" style="height: 150px;overflow: auto;border: 1px solid #d5d5d5;position: relative;">
                        <p style="display: none;color: red;" class="flagPs">请选择需要上传的文件!</p>
                        <!--<p style="display: none;color: red;font-size: 14px;" class="flagSys">只能上传exe格式文件!</p>-->
                    </div>
                    <div class="btns" style="margin-top: 5px;">
                        <div id="upInfo" ></div>
                        <div id="filePicker" style="display: inline-block;float: left;">选择文件</div>
                        <input type="button" class="btn btn-default" style="display: inline-block;float: right;width: 85px;height: 33px;background: #bfbcbc;outline: none;border: none;" id="btn" value="开始上传">
                    </div>
                </div>
            </div>
            <div class="settingStyle tarea" style="position: relative;">
                <label for="" style="margin-left:-2.8%;position: absolute;">备注:</label>
                <textarea style="margin-left: 108px;width: 78%;height: 80px;" maxlength="300" class="roleDesc textarea" placeholder="请输入备注"></textarea>
            </div>
            <div class="btnBox">
                <a href="javascript:;" data-dismiss="modal" class="js_cancel">取消</a>
                <a class="submitUserForm" href="javascript:;">确定</a>
            </div>
        </form>
    </div>
</div>