<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demo.back.dao.BrowserUrlSafeStrategyMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.demo.back.entity.BrowserUrlSafeStrategy">
        <id column="ID" property="id" />
        <result column="URL" property="url" />
        <result column="COPY_STATE" property="copyState" />
        <result column="DRAG_STATE" property="dragState" />
        <result column="PRINT_STATE" property="printState" />
        <result column="DOWNLOAD_STATE" property="downloadState" />
        <result column="WATERMARK_STATE" property="watermarkState" />
        <result column="CREATETIME" property="createTime" />
        <result column="REVIEW_STATUS" property="reviewStatus" />
        <result column="CHECK_STATUS" property="checkStatus" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ID, URL, COPY_STATE, DRAG_STATE, PRINT_STATE, DOWNLOAD_STATE,
        WATERMARK_STATE,CREATETIME, REVIEW_STATUS,CHECK_STATUS
    </sql>

    <!-- 对应的插入字段的名字 -->
    <sql id="key">
        <trim suffixOverrides=",">
            <if test="request.id!=null and request.id!=''">
                id,
            </if>
            <if test="request.url!=null and request.url!=''">
                URL,
            </if>
            <if test="request.copyState!=null">
                COPY_STATE,
            </if>
            <if test="request.dragState!=null">
                DRAG_STATE,
            </if>
            <if test="request.printState!=null">
                PRINT_STATE,
            </if>
            <if test="request.downloadState!=null">
                DOWNLOAD_STATE,
            </if>
            <if test="request.watermarkState!=null">
                WATERMARK_STATE,
            </if>
            <if test="request.reviewStatus!=null  and request.reviewStatus!='' ">
                REVIEW_STATUS,
            </if>
             <if test="request.createTime!=null">
                CREATETIME,
             </if>
        </trim>
    </sql>

    <!-- 对应的插入字段的值 -->
    <sql id="values">
        <trim suffixOverrides=",">
            <if test="request.id!=null and request.id!=''">
                #{request.id},
            </if>
            <if test="request.url!=null and request.url!=''">
               #{request.url},
            </if>
            <if test="request.copyState!=null">
               #{request.copyState},
            </if>
            <if test="request.dragState!=null">
               #{request.dragState},
            </if>
            <if test="request.printState!=null">
                #{request.printState},
            </if>
            <if test="request.downloadState!=null">
                #{request.downloadState},
            </if>
            <if test="request.watermarkState!=null">
                #{request.watermarkState},
            </if>
            <if test="request.reviewStatus!=null  and request.reviewStatus!='' ">
                #{request.reviewStatus},
            </if>
           <if test="request.createTime!=null ">
            #{request.createTime}
           </if>
        </trim>
    </sql>

    <insert id="insert">
        INSERT INTO BROWSER_URL_SAFE_STRATEGY
        (<include refid="key"/>)
        VALUES
        (<include refid="values"/>)
    </insert>

    <update id="updateById">
       UPDATE BROWSER_URL_SAFE_STRATEGY  
        <set>
            <trim suffixOverrides=",">
            <if test="request.url!=null and request.url!=''">
                URL=#{request.url},
            </if>
            <if test="request.copyState!=null">
                COPY_STATE=#{request.copyState},
            </if>
            <if test="request.dragState!=null">
                DRAG_STATE= #{request.dragState},
            </if>
            <if test="request.printState!=null">
                PRINT_STATE=  #{request.printState},
            </if>
            <if test="request.downloadState!=null">
                DOWNLOAD_STATE=#{request.downloadState},
            </if>
            <if test="request.watermarkState!=null">
                WATERMARK_STATE=#{request.watermarkState},
            </if>
            <if test="request.reviewStatus!=null  and request.reviewStatus!='' ">
                REVIEW_STATUS=#{request.reviewStatus},
            </if>
            <if test="request.checkStatus!=null">
                CHECK_STATUS=#{request.checkStatus},
            </if>
            </trim>
        </set>
        WHERE ID = #{request.id}
    </update>

    <sql id="select_param">
        CHECK_STATUS = 0
        <if test="request.url!=null and request.url!='' ">
            AND URL LIKE concat('%',#{request.url},'%')
        </if>
    </sql>

    <select id="browserUrlSafeStrategyList" resultType="com.demo.back.entity.BrowserUrlSafeStrategy">
        SELECT
        ID AS "id",CREATETIME AS "createTime",URL AS "url", REVIEW_STATUS AS "reviewStatus",
        COPY_STATE AS "copyState", DRAG_STATE AS "dragState", PRINT_STATE AS "printState",
        DOWNLOAD_STATE AS "downloadState",WATERMARK_STATE AS "watermarkState",CHECK_STATUS AS "checkStatus"
        FROM BROWSER_URL_SAFE_STRATEGY
        <where>
            <include refid="select_param"/>
        </where>
        ORDER BY CREATETIME DESC
        limit #{request.startNum},#{request.size}
    </select>

    <select id="browserUrlSafeStrategyListCount" resultType="java.lang.Integer">
        SELECT  COUNT(1)
        FROM BROWSER_URL_SAFE_STRATEGY
        <where>
            <include refid="select_param"/>
        </where>
    </select>

    <select id="browserUrlSafeStrategyDetail" resultType="com.demo.back.entity.BrowserUrlSafeStrategy">
        SELECT
        ID AS "id",CREATETIME AS "createTime",URL AS "url", REVIEW_STATUS AS "reviewStatus",
        COPY_STATE AS "copyState", DRAG_STATE AS "dragState", PRINT_STATE AS "printState",
        DOWNLOAD_STATE AS "downloadState",WATERMARK_STATE AS "watermarkState",CHECK_STATUS AS "checkStatus"
        FROM BROWSER_URL_SAFE_STRATEGY
        AND CHECK_STATUS = 0
    </select>


    <select id="browserUrlSafeStrategyInfoDetail" resultType="java.util.Map">
        SELECT ID AS "id",REVIEW_STATUS AS "reviewStatus",URL AS "url",
        COPY_STATE AS "copyState", DRAG_STATE AS "dragState", PRINT_STATE AS "printState",
        DOWNLOAD_STATE AS "downloadState",WATERMARK_STATE AS "watermarkState"
        FROM BROWSER_URL_SAFE_STRATEGY
        WHERE ID = #{request.id}
    </select>

    <select id="selectUrlSafeStrategyService" resultType="java.util.Map">
        SELECT URL AS "url",
        COPY_STATE AS "copyState", DRAG_STATE AS "dragState", PRINT_STATE AS "printState",
        DOWNLOAD_STATE AS "downloadState",WATERMARK_STATE AS "watermarkState"
        FROM BROWSER_URL_SAFE_STRATEGY
        WHERE REVIEW_STATUS = 2
        AND CHECK_STATUS = 0
    </select>
</mapper>
