<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demo.back.dao.HomePageVideoMapper">

  <sql id="Base_Column_List" >
      ID, VIDEO_NAME, VIDEO_DESCRIBE,
      URL, CREATETIME, REMARK,
      CHECK_STATUS, LAST_CHECK_TIME, CLICK_NUMBER
    </sql>

</mapper>