<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>角色管理</title>
    <script src="../../static/public/commonJs.js"></script>
    <script language="javascript" src="../../static/js/strategy/application.js"></script>
</head>
<body class="bodyStyle2">
<div class="searchBox">
    <div class="searchTitle">
        <span class="searchStyle" style="margin-left: 1%"></span>
        <span class="searchText">客户端策略管理>>应用策略管理</span>
    </div>
    <div class="contentBox">
        <div class="icon">
            <div class="iconType">
                <div>
                    <label>地址：</label>
                    <input type="text" maxlength="10" class="js_accountNumber">
                </div>
                <!-- <div class="creditCodeBox">
                    <label>用户名：</label>
                    <input type="text" maxlength="20" class="js_name">
                </div> -->
                <!--<div class="companyBox">
                    <label>组织机构：</label>
                    <input type="text" maxlength="20" class="js_data">
                </div>-->
            </div>

            <div class="searchBtnBox">
                <!--  需要加个注册弹框，用户名，密码，姓名，组织结构 -->
                <a href="javascript:;" class="js_newUsers">新建</a>
                <a href="javascript:;" class="js_resetQuery">重置</a>
                <a href="javascript:;" class="query">查询</a>
            </div>
        </div>
        <div class="content">
            <table id="detailGrid1">
            </table>
        </div>
    </div>
</div>
</body>
</html>